/*--------------------------index.html------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-style: normal;
    background-color:#FFFFFF;}
  
.list {
    list-style: none;}
.link {
    text-decoration: none;}
/*--------------------------header----------------------------------------*/

/*--------------------------header----------------------------------------*/
.header-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-studio {
    color: #2e2f42;}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--modal-color);
    --modal-color: #2E2F42;
}

.menu-link:hover,.menu-link:focus {
    color: #404bbf;
}
/*--------------------------address---------------------------------------*/
.socials {
    font-style: normal 
}
.socials-address
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.socials-address:is(:hover, :focus, :active) {
    color:#404bbf;
}
  
/*--------------------------siction1--------------------------------------*/
.title {
    background-color: #2e2f42;
}
.caption {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.title-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer
}
/*--------------------------siction2--------------------------------------*/
.aside-content {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.aside-text {
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
/*--------------------------siction3--------------------------------------*/

/*--------------------------siction4--------------------------------------*/
/*--------------------------FOOTHER---------------------------------------*/


/*--------------------------Portfolio.html--------------------------------*/
/*--------------------------HEADER----------------------------------------*/