/*-----------------------------index.html--------------------------*/
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-style: normal;
    background-color:#FFFFFF;
  
}
/*-----------------------------header--------------------------*/
.list{
    list-style: none;
}

.header-logo{
    text-decoration: none;
}

.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.link{
    text-decoration: none;
   }
.header-studio{
    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17x;
    color: #2e2f42;
}
.header-main-link, {
    color: #2E2F42;
}
.link:hover{
    color: #404bbf;
}
/*-----------------------------address--------------------------*/
.body-aside{
    font-style: normal
}
.mail {
    list-style: none;
}
.address {
    list-style: none;
}
.address-mail{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height:1.5;
letter-spacing: 0.02em;
color: #434455;
}
.mail:hover{
    color: #404bbf;
}
.address-phone{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
    .phone:hover{
        color: #404bbf;
    }

/*--------------------------siction1---------------------------*/
.hero-image{
    background: #2e2f42
}

.hero-title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.button-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.btn{
    background: #4d5ae5; 
}
.btm:hover {
    background: #404BBF;
}

.address-mail, .address-phone{
     text-decoration: none;
    }
    .btn{
        cursor: pointer
    }
/*--------------------------siction2---------------------------*/
.text-lead{
    list-style: none;}
.#{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.text-desc-quote{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
}
/*--------------------------siction3---------------------------*/
.subject-text{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.subject-text-desc{
    list-style: none;
}
/*--------------------------siction4---------------------------*/
.team{
    background: #F4F4FD;
}
.text-title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;}

.text-name{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
.text-position{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50px;
    letter-spacing: 0.02em;
    color: #434455;
}
/*--------------------------footer---------------------------*/
.footer{
    background: #2E2F42;
}
.footer-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
.header-text-studio{
  color:#f4f4fd;  
}


/*--------------------------Portfolio.html----------------------*/
.#{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}
.section-btn{
    background: #F4F4FD;
}
.section-btn:hover {
    background: #404BBF;
    color: #FFFFFF ;
}

.portfolio-button-section{
    text-decoration: none;
    list-style : none;
   }
   /*--------------------------Portfolio section----------------------*/
   .list{
    text-decoration: none;
    list-style : none;
   }
   .portfolio-content-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20px;
    color: #2E2F42;
   }
   .portfolio-content{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
   }